<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teknikugm.dompetft">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText">
        <activity android:name="com.teknikugm.dompetft.utama.TransferSaldoScan">
        </activity>
        <activity android:name="com.teknikugm.dompetft.utama.Scanner_Transfer" />
        <activity android:name="com.teknikugm.dompetft.utama.TransaksiPesanan" />
        <activity android:name="com.teknikugm.dompetft.utama.Scanner" />
        <activity
            android:name="com.teknikugm.dompetft.utama.Promo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.teknikugm.dompetft.utama.MyQR"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teknikugm.dompetft.utama.TransferSaldo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teknikugm.dompetft.utama.TopUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teknikugm.dompetft.utama.Register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.teknikugm.dompetft.utama.Login"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.teknikugm.dompetft.utama.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teknikugm.dompetft.utama.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>